<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comfyard.moodalpha" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoodActivity"
            android:label="@string/title_activity_mood"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name=".CollectionMoodActivity"
            android:label="@string/mood_collection"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name=".MemberActivity"
            android:label="@string/title_activity_member"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name=".ThingActivity"
            android:label="@string/title_activity_thing"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
    </application>

</manifest>
