<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comfyard.moodalpha" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.comfyard.moodalpha.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.comfyard.moodalpha.authentication.AuthenticatorActivity" android:label="@string/login_label"/>
        <activity android:name="com.comfyard.moodalpha.authentication.SignUpActivity" android:label="@string/signup_title" />

        <service android:name=".authentication.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="com.comfyard.moodalpha.MoodActivity"
            android:label="@string/title_activity_mood"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.member.MemberActivity"
            android:label="@string/title_activity_member"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.ThingActivity"
            android:label="@string/title_activity_thing"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.MyActivity"
            android:label="@string/title_activity_my"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
        <activity
            android:name="com.comfyard.moodalpha.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.comfyard.moodalpha.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comfyard.moodalpha.MainActivity" />
        </activity>
    </application>

</manifest>
